*{
    margin: 0px;
    padding: 0px;
}

#head_line{
    font-size: 20px;
    color:rgb(255, 255, 255);
    margin-top: 6px;   
    background-color:rgb(49, 54, 54);  
    margin: 0px;    
    height: 55px;  
    width: 100%;
    line-height: 50px;  
    float: left; 
    text-align:center;
    border: 1px solid black;
}
#line{
    margin-top: 60px;
    margin-left: 100px;
    float: left;
    width: 92.6%;
    font-size: 30px;
}
#copy{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    
}
#label{
    color: rgb(253, 253, 255);
    background-color: rgb(10, 235, 205);
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    float: left;
    margin-left: 100px;
    

}
#label_container{
    height: 50px;
    width: 98%;
    background-color:transparent;
    float: left;
    margin-top: 50px;

}
#image{
    height: 300px;
    width: 300px;
    float: left;
    margin-top: 40px;
    margin-left: 100px;

}
#button{
    height: 50px;
    width: 180px;
    margin-left: 100px;
    margin-top: 90px;
    background-color:rgb(42, 44, 43);
    color: white;
    font-size: 30px;
    display:none;
    float: left;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-bottom: 50px;
}
#final_result{
    margin-top: 65px;
    margin-left: 100px;
    float: left;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
}
#copy_right{
    width:100%;
    height: auto;
    float: left;
    margin-top:10px;
    
}